doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .container
    form(method='', action='', role="form")
      input#input.form-control(type='text', placeholder='enter something')
      br
      input#submit.btn.btn-default(type='submit')
    br
    #results
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
  script(src='/javascripts/main.js')
